# 環境設定
.env

# DB & データ
*.db
*.db.bak
*.db.old.*
data/
chunks/

# Pythonキャッシュ
__pycache__/
*.pyc

# アップロードファイルなど
web/static/api/files/

# 開発メモ
/仕様書.txt

# nginx 実運用設定ファイル（機密情報含む可能性あり）
nginx/sites-enabled/web_discord_server.conf
