{% extends "base.html" %}
{% block title %}セットアップ情報{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="card mx-auto" style="max-width:480px;">
    <div class="card-header bg-primary text-white">セットアップ情報</div>
    <div class="card-body">
      <p>下記の情報をアプリに入力してください。</p>
      <ul class="list-group mb-3">
        <li class="list-group-item">ユーザ名: {{ username }}</li>
        <li class="list-group-item">パスワード: {{ password }}</li>
        <li class="list-group-item">TOTP シークレット: {{ totp_secret }}</li>
      </ul>
      <a href="{{ login_url }}" class="btn btn-primary w-100">ログインページへ</a>
    </div>
  </div>
</div>
{% endblock %}
